* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 1.1rem;
  color: #5e5e5e; }

h1,
h2,
h3 {
  letter-spacing: 0.1rem; }

p {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: #5e5e5e; }

ul,
ol {
  list-style: none; }

a:link {
  text-decoration: none; }

input,
textarea {
  outline: none;
  border: none;
  color: #5e5e5e;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem; }

select {
  margin: 0 0.5rem;
  padding: 0.4rem 1.5rem;
  border: none;
  appearance: none;
  background: transparent;
  background-image: url("../../assets/selectarrow.png");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  font-size: 1.2rem;
  color: #5e5e5e; }

select::-ms-expand {
  display: none; }

select:focus {
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none; }

::placeholder {
  color: #5e5e5e;
  font-family: "Roboto", sans-serif; }

button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem; }

.container {
  max-width: 90%;
  margin: 0 auto; }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    .container {
      max-width: 90%;
      margin: 0 auto; } }

.disabled-link {
  pointer-events: none; }

.header {
  position: relative;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07); }
  .header-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0; }
    .header-items .logo-search {
      display: flex;
      align-items: center; }
      .header-items .logo-search h1 {
        color: #1875f0;
        font-size: 2.4rem; }
      .header-items .logo-search .search {
        display: flex;
        margin-left: 5rem; }
        .header-items .logo-search .search input {
          padding-left: 1rem; }
    .header-items ul {
      display: flex;
      align-items: center;
      color: #5e5e5e; }
      .header-items ul li {
        cursor: pointer; }
        .header-items ul li a {
          color: #5e5e5e; }
      .header-items ul li:not(:last-child) {
        margin-right: 5rem; }
      .header-items ul .profile {
        display: flex;
        align-items: center; }
        .header-items ul .profile div {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          color: #5e5e5e;
          cursor: pointer;
          margin-right: 1rem; }
          .header-items ul .profile div span:first-child {
            font-size: 1rem; }
        .header-items ul .profile img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%; }

.biograph {
  position: relative; }
  .biograph-items {
    display: flex;
    align-items: flex-start;
    background: #fff;
    padding: 1rem 2rem;
    margin: 0rem 1rem; }
    .biograph-items .graph {
      flex-basis: 65%; }
      .biograph-items .graph .date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0; }
        .biograph-items .graph .date span {
          font-size: 1.5rem;
          font-weight: bold; }
        .biograph-items .graph .date div {
          display: flex;
          align-items: center; }
          .biograph-items .graph .date div .dropdown-date {
            margin-right: 5rem; }
            .biograph-items .graph .date div .dropdown-date select {
              border: 1px solid #cccfd4;
              border-radius: 5px;
              padding: 0.7rem 2rem; }
              .biograph-items .graph .date div .dropdown-date select option:hover {
                display: none; }
          .biograph-items .graph .date div .arrows {
            display: flex;
            align-items: center; }
            .biograph-items .graph .date div .arrows div {
              border: 1px solid #cccfd4;
              border-radius: 5px;
              margin: 0 0.5rem;
              padding: 0.1rem 0.5rem;
              cursor: pointer;
              background: linear-gradient(to bottom, rgba(204, 207, 212, 0.1), rgba(204, 207, 212, 0.4)); }
      .biograph-items .graph .month {
        display: flex;
        align-items: flex-start; }
        .biograph-items .graph .month > div {
          flex-basis: 16.6%;
          text-align: center;
          font-size: 1.2rem;
          font-weight: bold;
          height: 18rem;
          color: #161616; }
          .biograph-items .graph .month > div:not(:last-child) {
            border-right: 1px solid #cfe8fb; }
      .biograph-items .graph .gradient {
        width: 100%;
        margin-top: -10rem; }
        .biograph-items .graph .gradient img {
          width: 100%; }
    .biograph-items .order-payments {
      flex-basis: 35%;
      position: relative; }
      .biograph-items .order-payments .items {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2rem;
        font-size: 1.3rem; }
        .biograph-items .order-payments .items div {
          margin-bottom: 2rem; }
        .biograph-items .order-payments .items .item {
          display: flex;
          flex-direction: column; }
          .biograph-items .order-payments .items .item .title {
            color: #161616; }
          .biograph-items .order-payments .items .item .meter {
            position: relative;
            background: #ebc315;
            height: 0.4rem; }
            .biograph-items .order-payments .items .item .meter::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 75%;
              height: 100%;
              background: #27ae60; }
          .biograph-items .order-payments .items .item > * {
            margin-bottom: 0.5rem; }
            .biograph-items .order-payments .items .item > * .pending {
              color: #ebc315; }
            .biograph-items .order-payments .items .item > * .reconcile {
              color: #27ae60; }
            .biograph-items .order-payments .items .item > * .total {
              color: #1875f0; }
          .biograph-items .order-payments .items .item span {
            font-weight: bold; }

.footer {
  position: relative; }
  .footer-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 1rem;
    color: #161616; }
    .footer-items .controller {
      display: flex;
      align-items: center;
      cursor: pointer; }
      .footer-items .controller span {
        border: 1px solid #cccfd4;
        padding: 0.5rem 1rem; }
      .footer-items .controller .blue {
        color: #fff;
        background: #1875f0; }
      .footer-items .controller .gray {
        color: #7f8fa4; }

.layout {
  position: relative; }
  .layout-items {
    width: 100%; }
    .layout-items .body-layout {
      width: 100%;
      display: flex;
      align-items: flex-start; }
      .layout-items .body-layout .sidenav-layout {
        flex-basis: 20%; }
      .layout-items .body-layout .content-layout {
        background: rgba(224, 224, 224, 0.3);
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
        padding: 1rem; }

.sidenav {
  position: relative; }
  .sidenav-items {
    font-size: 1rem; }
    .sidenav-items button {
      display: block;
      width: 70%;
      margin: 2.5rem auto;
      background: #27ae60;
      color: #fff;
      border-radius: 30px;
      padding: 0.8rem;
      text-transform: uppercase;
      font-weight: bold; }
    .sidenav-items > span {
      color: #5e5e5e;
      display: block;
      margin: 1.5rem 4rem; }
    .sidenav-items > ul li {
      position: relative;
      margin: 0.5rem 0; }
      .sidenav-items > ul li a {
        display: flex;
        align-items: center;
        color: #5e5e5e;
        padding: 1rem 4rem; }
        .sidenav-items > ul li a svg {
          margin-right: 1rem; }
    .sidenav-items > ul .styled a {
      background: rgba(24, 117, 240, 0.1); }
      .sidenav-items > ul .styled a::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1%;
        height: 100%;
        background: #1875f0;
        z-index: -1; }
    .sidenav-items > ul .merchant-profile {
      margin-top: 2rem; }

.transaction {
  position: relative;
  width: 100%; }
  .transaction-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0; }
    .transaction-items .item {
      flex-basis: 25%;
      display: flex;
      align-items: center;
      background: #fff;
      padding: 1rem 1rem;
      margin: 1rem;
      height: 8rem; }
      .transaction-items .item .value {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 1rem; }
        .transaction-items .item .value span:nth-child(2) {
          font-size: 1.6rem;
          color: #161616; }

.payment {
  position: relative;
  padding: 2rem 1rem; }
  .payment .title {
    font-size: 3rem;
    color: #161616; }
  .payment .sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    color: #161616; }
    .payment .sub .showing {
      display: flex;
      align-items: center; }
      .payment .sub .showing select {
        color: #1875f0; }
    .payment .sub .search svg {
      margin-left: 3rem; }
    .payment .sub .search input {
      background: transparent;
      border-bottom: 1px solid #cccfd4;
      width: 20rem;
      padding-left: 2rem;
      margin: 0 5rem 0 -1.5rem; }
    .payment .sub .show-all {
      margin-right: 20rem;
      display: flex;
      align-items: center; }
      .payment .sub .show-all select {
        border: 1px solid #cccfd4; }
  .payment .payment-table {
    position: relative;
    width: 100%; }
    .payment .payment-table table {
      border-collapse: collapse;
      width: 100%;
      font-size: 1.2rem; }
    .payment .payment-table td,
    .payment .payment-table th {
      border-bottom: 1px solid #dddddd;
      text-align: left; }
    .payment .payment-table th {
      padding: 1rem 0.5rem; }
    .payment .payment-table td {
      padding: 2.5rem 0.5rem;
      background: #fff;
      height: 8rem; }
    .payment .payment-table td:not(:first-child) {
      color: #7f8fa4; }
    .payment .payment-table td:first-child span {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background: #7f8fa4;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      margin-right: 3rem;
      margin-left: 2rem; }
    .payment .payment-table .recorded > div {
      border-radius: 30px;
      border: 1px solid #cccfd4;
      display: flex;
      align-items: center;
      padding: 0.6rem;
      width: 9rem; }
    .payment .payment-table .recorded div span:first-child {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
      border-radius: 50%; }
    .payment .payment-table .recorded div.green {
      color: #27ae60; }
      .payment .payment-table .recorded div.green span:first-child {
        background: #27ae60; }
    .payment .payment-table .recorded div.yellow {
      color: #ebc315; }
      .payment .payment-table .recorded div.yellow span:first-child {
        background: #ebc315; }
    .payment .payment-table .recorded div.gray {
      color: #7f8fa4; }
      .payment .payment-table .recorded div.gray span:first-child {
        background: #cccfd4; }
  .payment tr:first-child {
    background-color: #eaeef0;
    color: #5e5e5e; }
